.card-body {
  background-image: url("/public/CardVec.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.price-div {
  border: 1px solid;

  border-image-source: linear-gradient(
    180deg,
    rgba(236, 240, 255, 0.1) 0%,
    rgba(59, 63, 87, 0) 100%
  );
}

.logo-circle {
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(234, 179, 0, 0.06) 100%
  );
  backdrop-filter: blur(100px);
  border: 1px solid;

  border-image-source: linear-gradient(
    180deg,
    rgba(236, 240, 255, 0.1) 0%,
    rgba(59, 63, 87, 0) 100%
  );
}
